.linked-container:after,.linked-container:before,.linked-panel:after,.linked-panel:before,.linked-row:after,.linked-row:before,.linked-row-padding:after,.linked-row-padding:before, .linked-cell-row:before,.linked-cell-row:after,.linked-clear:after,.linked-clear:before,.linked-bar:before,.linked-bar:after{
  content:"";
  display:table;
  clear:both
}
.linked-input{
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:100%
}

//Expansion Panel
.linked-action-buttons {
  padding-bottom: 20px;
}

.linked-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.linked-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.linked-card {
  max-width: 400px;
}
