<div class="linked-container mat-elevation-z888">
  <h2>Lista cards</h2>
  <mat-card>
    <mat-card-content>
      <form class="linked-container22">
        <mat-form-field class="example-form-field">
          <mat-label>Nome</mat-label>
          <input
            matInput
            type="text"
            name="first"
            [(ngModel)]="inputValue"
            #input
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Selecionar</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            @for (item of itemsSelect; track item) {
            <mat-option [value]="item.value">{{ item.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="searchCard()" #trigger>
          Buscar
        </button>
      </form>

      @if(isLoading) {
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
      }

      <!--Card Coleções-->
      @defer (on interaction(trigger)) {
      <div *ngIf="!isLoading">
        <mat-accordion class="linked-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Coleção </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-body">
              @for (setCard of setCards.sets; track setCards.code){
              <mat-card class="linked-card" (click)="callSetCreature()">
                <mat-card-header>
                  <mat-card-title>{{ setCard.name }}</mat-card-title>
                  <mat-card-subtitle>{{ setCard.block }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{ setCard.releaseDate }}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="callSetCreature()" #trigger2>
                    Booster
                  </button>
                </mat-card-actions>
              </mat-card>
              }
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      }@placeholder() {
      <p>Use os filtros para pesquisar a coleção desejada</p>
      } @loading(after 200ms; minimum 15s) {
      <p>Carregando coleção...</p>
      } @error {
      <p>Não encontramos nada!</p>
      }

      <div *ngIf="loadedCre">
        <mat-accordion class="linked-headers-align panel-body" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Criatura </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-body">
              <div *ngFor="let set of cardsCreatures.cards">
                <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title-group>
                      <mat-card-title>{{ set.name }}</mat-card-title>
                      <mat-card-subtitle>{{ set.manaCost }}</mat-card-subtitle>
                    </mat-card-title-group>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="card-creature">
                      <div class="card-creature-info">
                        <div>{{ set.colorIdentity }}</div>
                        <div class="card-creature-info__text">
                          {{ set.text }}
                        </div>
                      </div>
                      <div class="card-creature-card">
                        <img [src]="set.imageUrl" alt="{{ set.imageUrl }}" />
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
</div>
