<p>Lista cards</p>
<!-- (keyup)="filtrarLista($event.target.value)" -->
<form class="linked-container">
  <mat-form-field class="example-form-field">
    <mat-label>Nome</mat-label>
    <input
      matInput
      type="text"
      name="first"
      [(ngModel)]="inputValue"
      (keyup)="applyFilter($event)"
      #input
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Selecionar</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
      @for (food of foods; track food) {
      <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="searchCard()">Buscar</button>
  <p>Input: {{ inputValue }}</p>
  <p>Selected food: {{ selectedValue }}</p>
</form>

<!-- <div *ngFor="let setCard of setCards">
  <p>Retorno === {{ setCard.name }}</p>
</div> -->

<div>
  <!-- <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div> -->
  <mat-accordion class="linked-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Coleção </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      @for (setCard of setCards.sets; track setCards.code){
      <mat-card class="linked-card">
        <mat-card-header>
          <mat-card-title>{{ setCard.name }}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
          <p>longText</p>
        </mat-card-content>
      </mat-card>
      }
    </mat-expansion-panel>
  </mat-accordion>
</div>

<br />
<br />
<!--
<input
  class="w3-input w3-border w3-padding"
  type="text"
  placeholder="Search for names.."
  id="myInput"
  onkeyup="myFunction()"
/>

<table class="w3-table-all w3-margin-top" id="myTable">
  <tr>
    <th style="width: 60%">Name</th>
    <th style="width: 40%">Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Berglunds snabbkop</td>
    <td>Sweden</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Koniglich Essen</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Italy</td>
  </tr>
  <tr>
    <td>North/South</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Paris specialites</td>
    <td>France</td>
  </tr>
</table> -->

<!-- @for (card of listCards.cards; track listCards.id) {
{{ card.id }} <br />
{{ card.name }}<br />
<img [src]="card.imageUrl" alt="{{ card.name }}" /><br />
{{ card.artist }}<br />
{{ card.manaCost }}<br />
<br />
} -->
