.linked-container{
  padding:20px;
}

//Expansion Panel
.mat-expansion-panel {
  width: 100%;
}
.panel-body {
    display: flex;
    gap: 26px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.spinner {
  display: flex;
  justify-content: center;
}
.linked-card {
  width: 317px;
  height: 165px;
  mat-card-content{
    margin-top: 20px;
  }
}

.example-card{
  width: 330px;
  height: 300px;
}
.card-creature{
  display: flex;
  gap: 10px;
  &-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    &__text {
      height: 187px;
      overflow-y: overlay;
    }
  }
  &-card {
    display: flex;
    flex-grow: 1;
    img {
      height: 170px;
    }
  }
}

@media only screen and (max-width: 455px) {
  .example-card{
    width: 330px;
    height: 450px;
  }
  .card-creature{
    display: flex;
    gap: 10px;
    flex-direction: column;
    &-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      order: 1;
      &__text {
        height: 187px;
        overflow-y: overlay;
      }
    }
    &-card {
      display: flex;
      flex-grow: 1;
      img {
        height: 170px;
      }
    }
  }
}
